{
	"experimentalTernaries": true,
	"printWidth": 120,
	"useTabs": true,
	"jsxSingleQuote": true,
	"singleQuote": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"singleAttributePerLine": true,
	"svelteSortOrder": "options-scripts-styles-markup",
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
