@import 'tailwindcss';

@plugin 'tailwindcss-motion';

@source './app.html';

@custom-variant dark (&:where(.dark, .dark *));

@utility mask-squircle {
	mask-image: url("data:image/svg+xml,%3csvg width='200' height='200' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M100 0C20 0 0 20 0 100s20 100 100 100 100-20 100-100S180 0 100 0Z'/%3e%3c/svg%3e");
}

@utility mask-hexagon {
	mask-image: url("data:image/svg+xml,%3csvg width='182' height='201' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M.3 65.486c0-9.196 6.687-20.063 14.211-25.078l61.86-35.946c8.36-5.016 20.899-5.016 29.258 0l61.86 35.946c8.36 5.015 14.211 15.882 14.211 25.078v71.055c0 9.196-6.687 20.063-14.211 25.079l-61.86 35.945c-8.36 4.18-20.899 4.18-29.258 0L14.51 161.62C6.151 157.44.3 145.737.3 136.54V65.486Z' fill='black' fill-rule='nonzero'/%3e%3c/svg%3e");
}

@utility mask-triangle {
	mask-image: url("data:image/svg+xml,%3csvg width='174' height='149' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill='black' d='m87 148.476-86.603.185L43.86 74.423 87 0l43.14 74.423 43.463 74.238z' fill-rule='evenodd'/%3e%3c/svg%3e");
}

@utility mask {
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
}

@utility bg-noise {
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E");
	background-repeat: repeat;
	background-size: 182px;
}

@utility font-small-caps {
	font-variant-caps: small-caps;
}

@utility font-all-small-caps {
	font-variant-caps: all-small-caps;
}

@theme {
	--font-display: 'Spline Sans Variable', 'sans-serif';
	--font-sans: 'Geist Variable', 'sans-serif';
	--font-mono: 'Geist Mono Variable', 'sans-serif';
	--font-serif: 'EB Garamond Variable', 'serif';
}
